<div style="max-width: 600px;">
    <div style="
    font-size: 127%;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 113px;
">
        Haweli is a real time chating app developed for the student communuty, romantic cuples and meme community.The main objective of developing this type of chat system is to have a good quality informal conversation between friends and couples.

        <br>
        <img src="https://sunnychatv2.herokuapp.com/static/media/coupleChating.png" alt="">

        <br><br>It was 1st released on 7th December 2021. If you have additional questions or require more information about our website, do not hesitate to Contact through email at <b>aditya5kumar2012@gmail.com
    </b></div>
</div>