<div class="holder" id="blockedPopup" style="display:none; position: absolute; width: 100%; /* top: 9vh; */ height: 100vh;top: 0%;">
    <div class="info" style="color: black;max-width: 362px;border: 1px solid #0391bd;margin: auto;padding: 37px 23px;font-size: 125%;position: relative;top: 27%;/* left: 28px; */border-radius: 7px;background: #dde5e7;font-size: 110%;">
        <div>
            <div style="text-align: center;font-size: 31px; color: black; font-weight: 500; ">
                Access Lost :(
            </div>
            <div style="position: relative;margin: 21px 0px;/* margin-left: 26px; */font-size: 69%;top: 22px;">
                <img src="https://sunnychatv2.herokuapp.com/static/media/house1.png" alt="" style="height: 43px;width: 43px;border-radius: 7px;object-fit: cover;">
                <div style="font-size: 177%;position: absolute;left: 44px;top: 5px;border-left: 4px solid #11acbd;padding-left: 6px;margin-left: 12px;">
                    ChatRoom
                    <div style="position: absolute;font-size: 57%;width: 111px;color: #007195;bottom: 4px;left: 75px;font-family: cursive;">
                        Say no to Fun</div>
                </div>
                <div style="position: absolute;left: 86px;font-size: 95%;bottom: -8px;">Developed by Aditya</div>
            </div>
        </div>
    </div>
</div>
