<div class="entry_0" style="" id="go_in">
    <div class="entry_0_div_0" style="position: absolute;top: 3%;/* display: flex; */ /* left: 0%; */ width: 100%;">
        <img style=" width: 120px;height: 120px; object-fit: cover;    border-radius: 6px;" src=<%=dp%> id="dp_while_joining" alt="">
        <div style=" color: white; font-size: 140%;margin:8px;margin:8px;" id="name_while_joining">
            <%=name%>
        </div>
        <div style="color: #a7cbc4;font-size: 84%;">
            <span>
                <%=gmail%>
            </span>
            <span> | Room : <b>
                    <%=room%>
                </b></span>
        </div>
        <div></div>
        <div style="margin-top: 10px;    font-size: 200%;">
            <input type="text" placeholder="Write Something About You??" class="desc_inp" id="desc_inp" style="background: transparent;border: 2px solid #16596a;padding: 9px;/* margin-bottom: 12px; */border-radius: 6px;/* font-size: 40%; */">
        </div>

        <button style="margin-top: 20px;font-size: 120%;color: white;width: 240px;height: 39px;border-radius: 4px;    border: 1px solid #9300ff;background-color: #8700ea;color: #ffffff;margin-bottom: 17px;" onclick="go_in_anonymous_clicked()" id="anonymBtn">Make me Anonymous</button><br>



        <div id="usersListFromFE">
            <!-- <div style=" background: #233d4c;">
                <div style="text-align: center;font-size: 145%;background: #154f73;color: aliceblue;">Users inside room
                </div>
                <div style="display: flex;font-size: 130%;  width: 100%; overflow: auto; background: #233d4c; color: white; font-size: 90%; ">
                    <div class="user" style=" margin: 0px 17px;text-align: center;">
                        <img class="imgUser" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-rTY89fzJh73oQplE1XOlgn_ArXdyvLjS5A&s" alt="">
                        <p>Aditya Kumar</p>
                    </div>
                    <div class="user" style=" margin: 0px 17px; text-align: center;    ">
                        <img class="imgUser" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-rTY89fzJh73oQplE1XOlgn_ArXdyvLjS5A&s" alt="">
                        <p>Aditya Kumar</p>
                    </div>
                    <div class="user" style=" margin: 0px 17px; text-align: center; ">
                        <img class="imgUser" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-rTY89fzJh73oQplE1XOlgn_ArXdyvLjS5A&s" alt="">
                        <p>Aditya Kumar</p>
                    </div>
                    <div class="user" style=" margin: 0px 17px; text-align: center;  ">
                        <img class="imgUser" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-rTY89fzJh73oQplE1XOlgn_ArXdyvLjS5A&s" alt="">
                        <p>Aditya Kumar</p>
                    </div>
                    <div class="user" style="  margin: 0px 17px; text-align: center;  ">
                        <img class="imgUser" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-rTY89fzJh73oQplE1XOlgn_ArXdyvLjS5A&s" alt="">
                        <p>Aditya Kumar</p>
                    </div>
                </div>
            </div> -->
        </div>



        <button style="font-weight: 600;font-size: 94%;color: white;width: 113px;height: 72px;border-radius: 105px;    border: 2px solid #8700ea;        background-color: #012135;        box-shadow: inset 0px 0px 6px 2px #8700ea;margin-top:10px" onclick="go_in_clciked()"
            id="join_room">Join Room</button>
        <div style="color: white;width: 100%;font-size: 75%;margin-top: 15px;">Click to go into the Room </div>
    </div>

</div>