<div style="max-width: 600px;">
    <ul>
        <li><b>Text</b> Messaging.</li>
        <li><b>Voice</b> Streaming.</li>
        <li>Google <b>Authentication</b></li>
        <li>Sending <b>GIFs/memes</b>.</li>
        <br>
        <li>User can <b>generate</b> a unique <b>link</b> for the chat room .</li>
        <li>User can also <b>join anonymously</b> .There is a set of 10 built in characters.Every room can have maximum 10 anonymous user,and all of them will be alloted a unique character.user can also select characters from the available set of characters
        </li>
        <li>User can add a short <b>discription</b>,which will be shown to those who click on the user's profile picture(which will be shown in chat room above user's messages) </li>
        <li>Shows <b>user's profile</b>(like DP, name, discription, hearts, tags) when some on click on the user's profile picture
        </li>
        <br>
        <li>User can report any other user if that user found sending inapropriate messages,or found abusing using voice straming feature.</li>
        <li>User can also warn any one .</li>
        <li>User can also show his/her support to any other user .</li>
        <br>
        <li>Shows <b>mic status</b> of users.</li>
        <li>Notify all users if some one <b>left</b> or <b>joins</b> the group(Room).</li>
        <li>Notify all users if someone <b>starts
            typing</b>.</li>
        <li>Also notify all users if someone <b>starts or stops</b> voice streaming.</li>
        <li>Also shows the <b>status of any message</b>(ie. sending/sent).
        </li>
        <li>Notify user if he/she <b>lost connection</b> from the server and also <b>reconnects automaticaly</b> if internet connection is restored.</li>
        <li>Also have some default <b>animated emojis.</b></li>

    </ul>
</div>