<div class="footer" id="footer">
    <div style="  display: inline; margin-left: -8px;">
        Contact us :
    </div>
    <a href="https://www.instagram.com/adi_sunny_neeraj_raviraj/" style="color:white;text-decoration: none;" target="_blank">
        <div style=" display: inline; width: 71px; margin: auto; /* position: absolute; */ top: 6px; left: 214px;">
            <img style="width: 23px;" src="/static/media/info/instagram.png" alt="">
        </div>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100005273947921" style="color:white;text-decoration: none;" target="_blank">
        <div style=" display: inline;width: 71px;/* margin: auto; *//* position: absolute; */ top: 6px;left: 130px; margin-left: 1px;">
            <img style="width: 23px;" src="/static/media/info/facebook.png" alt="">
        </div>
    </a>
    <div style="font-size: 80%;display:inline;margin-left: 21px;">All Rights Reserved © 2022 Haveli </div>
</div>