<hr>
<div style="position: relative;margin: 23px 0px;margin-left: 26px;">
    <img src="https://sunnychatv2.herokuapp.com/static/media/house1.png" alt="" style="height: 75px;width: 75px;border-radius: 7px;object-fit: cover;">
    <div style="font-size: 177%;position: absolute;left: 80px;top: 16px;border-left: 4px solid #11acbd;padding-left: 6px;margin-left: 12px;">
        ChatRoom
        <div style="position: absolute;font-size: 57%;width: 111px;color: #0b6299;bottom: 4px;left: 92px;font-family: cursive;">
            </div>
    </div>
    <div style="position: absolute;left: 115px;font-size: 95%;bottom: -8px;">Developed by Aditya</div>
