<div style=" padding: 10px; margin-top: 20px; background: beige; color: #53626f;">My other Projects</div>
<div style="display: flex;flex-direction: row;overflow-x: auto; height: 369px;  min-width: 100%; background: #d2d2bc;">
    <div class="projects" style="">
        <div style="display: flex;flex-direction:column;align-items:center;">
            <img style="width:100px;height:100px; object-fit:cover;border-radius: 6px;" src="https://writenshare.herokuapp.com/static/media/6.jpg" alt="">
            <div class="appname" style="font-weight: 500; font-size: 130%;">Lost & Found</div>

        </div>
        <div class="intro" style="width: 100%;padding: 0px 10px;font-weight:500;color: rgb(78 78 94);"> Built using React JS,Tailwind CSS , Express JS ,Firebase</div>
        <a href="https://adis-lostfound.herokuapp.com" target="_blank" class="btn brn-sm btn-danger">Open</a>
    </div>
    <div class="projects" style="">
        <div style="display: flex;flex-direction:column;align-items:center;">
            <img style="width:100px;height:100px; object-fit:cover;border-radius: 8px;" src="https://writenshare.herokuapp.com/static/media/logo.png" alt="">
            <div class="appname" style="font-weight: 500; font-size: 130%;">Write & Share</div>

        </div>
        <div class="intro" style="padding: 0px 10px;font-weight:500;color: rgb(78 78 94)">Built using JavaScript, CSS, HTML, Express JS , Bootstrap</div>
        <a href="https://writenshare.herokuapp.com" target="_blank" class="btn brn-sm btn-danger">Open</a>
    </div>
    <!-- <div class="projects" style="">
                <div style="display: flex;flex-direction:column;align-items:center;">
                    <img style="width:100px;height:100px; object-fit:cover;border-radius: 8px;" src="https://sunnychatv2.herokuapp.com/static/media/house1.png" alt="">
                    <div class="appname" style="font-weight: 500; font-size: 130%;">Chat Room</div>

                </div>

                <div class="intro" style="padding: 0px 10px;font-weight:500;color: rgb(78 78 94)">Built using Javascript ,Express JS , CSS ,HTML , Tenor API ,Web RTC, Socket.io</div>
                <a href="https://sunnychatv2.herokuapp.com" target="_blank" class="btn brn-sm btn-danger">Open</a>

            </div> -->

</div>
