<div class="holder" id="popup_report" style="position: fixed;width: 100%;/* top: 9vh; */height: 100vh;display:none;top:0px ;z-index: 1;background: rgba(0, 0, 0, 0.73);">
    <div class="info" style="color: rgb(0, 0, 0);max-width: 362px;border: 0px solid #0391bd;margin: auto;padding: 37px 23px;font-size: 125%;position: relative;top: 13%;/* left: 28px; */border-radius: 7px;
    /* background: #15374c; */    background: #dde5e7;font-weight: 500;
    font-size: 110%;">
        <div>We regret for the any inconvenience that you have experienced on our platform, You can direct report any kind of complaint to our team on Facebook ,Instagram, Email . You can also report your complaint through phone call (+91-8582057616)

            <div class="links" style="font-size: 80%;margin-top: 8px;/* position: relative; */text-align: center;">
                <a target="_blank" href="https://www.instagram.com/adi_sunny_neeraj_raviraj/" style="color: white;text-decoration: none;"><img style="width: 40px;" src="/static/media/info/instagram.png" alt=""> <span style=""></span> </a>
                <a target="_blank" href="https://www.facebook.com/people/Aditya-Kumar/100005273947921/" style=" text-decoration: none;"><img style="width: 40px;margin: 0px 15px;" src="/static/media/info/facebook.png" alt=""> <span style=""></span> </a>
                <a target="_blank" href="mailto: aaditya5kumar2012@gmail.com" alt="" style="text-decoration: none;"><img style="width: 41px;height: 53px;" src="/static/media/gmail.png" alt=""> <span style=""></span> </a>
            </div>
            <div style="position: relative; text-align: end;top: 20px;">
                <button onClick="tooglePopUp_report()" class="btn-sm btn btn-success"><b>Cancel</b></button>
            </div>
            <div style="position: relative;margin: 3px 0px;/* margin-left: 26px; */font-size: 69%;top: 22px;">
                <img src="https://sunnychatv2.herokuapp.com/static/media/house1.png" alt="" style="height: 43px;width: 43px;border-radius: 7px;object-fit: cover;">
                <div style="font-size: 177%;position: absolute;left: 44px;top: 5px;border-left: 4px solid #11acbd;padding-left: 6px;margin-left: 12px;">
                    ChatRoom
                    <div style="position: absolute;font-size: 57%;width: 111px;color: #0b5562;;bottom: 4px;left: 75px;font-family: cursive;">
                        Say no to Fun</div>
                </div>
                <div style="position: absolute;left: 86px;font-size: 95%;bottom: -8px;">Developed by Aditya</div>
            </div>
        </div>
    </div>
</div>
