<div class="box" id="roomPop">
    <button class="btn btn-danger cutBtn" onClick="xPopedClicked() ">X</button>
    <!-- <img class="" style=" width: 70px; margin-top: 28px; padding-top: 0px;border-radius: 11px;margin-bottom:16px;" src="https://sunnychatv2.herokuapp.com/static/media/house1.png" alt="" width="100px"> -->
    <div id="" style="margin-top:26px;">
        <span><b>Room Link :</b><br> </span>
        <a id="room_link" href="" style="font-size:78%"></a>
        <div style="font-size:80%">Click to open</div>

    </div>
    <button class="btn-sm btn-sm btn btn-success my-2" id="copyClicked" onClick="copyClicked()">Copy</button>
    <div style="margin-top:10px">Now go back & Click on Google SignIn Button</div>
</div>