<div id="loading_view" style="position: relative;height: 100vh;background: #094566;text-align: center;color: white;display:block;">
    <div style="position: absolute;width: 100%;top: 37%;">
        <div style="font-size: 200%;">Welcome to The Chat Room</div>
        <div>App is Loading . . .</div>
        <div><img src="https://c.tenor.com/XUIieA-J-vMAAAAi/loading.gif" alt="" style="width: 213px;/* position: absolute; */position: relative;right: 53px;">
        </div>
    </div>
    <div style="position: absolute;margin: 23px 0px;margin-left: 26px;width: 78%;text-align: initial;bottom: 0px;">
        <img src="https://sunnychatv2.herokuapp.com/static/media/house1.png" alt="" style=" height: 75px;width: 75px;border-radius: 7px; object-fit: cover;  ">
        <div style=" font-size: 177%;position: absolute;left: 80px;top: 16px; border-left: 4px solid #11acbd;padding-left: 6px;margin-left: 12px;">
            Haveli
            <div style="position: absolute;font-size: 57%;width: 111px;color: #c6e5ff;    bottom: 4px;    left: 92px;    font-family: cursive;    ">
                Say no to Fun</div>
        </div>
        <div style=" position: absolute;left: 115px;font-size: 95%; bottom: -8px;">Developed by Aditya</div>
    </div>
</div>
